.header {

    background-color: blue;
    padding: 10px;
    height: 50px;
}

.headerLink {
  
color: white;
padding: 5px;
margin: 5px;
font-size: 16px;
}
.aboutPage {
 background-color: rgb(13, 182, 36);
 width: 100%;
}

.homePage {
margin-top:0px !important;
 /* height: 500px; */
 background-color: aqua;
}

.footerSection {

    background-color:hwb(0 28% 68%);
    padding: 10px;
    height: 50px;
    text-align: center;
    color: white;
    margin-top: 150px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bannerSection {

    width: 100%;
    height: 380px!important;

}

.bannerSection img {
    height: 350px!important;
    width: 100%;
}

.slick-slider {

    width: 100%;
    clear:both;
}

input {
display: block;
margin-bottom: 10px;
margin-top: 10px;
width: 50%;
height:30px;
font-size: 15px;
}

.logoSize {

    width: 80px;
    height: 80px;
}

.headerDivLogo {
width: 20%;
float: left;

}
.headerDivNav {

    width: 80%;
    float: left;
}

.contact .php-email-form textarea {
    padding: 10px 12px;
  }
 
  .btn-get-started {

    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 35px;
    margin-top: 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1977cc;
  }
  
